
@inject IGameRepository gameRepository


@{
    var games = await gameRepository.GetAll();
}
<h2>All users</h2>
@if(games == null || games.Any() == false) {
    <h3>No Games</h3>
}
else {
    foreach(var game in games){
            <div style="border: 2px solid black; width:400px;height:275px;align-items:center;">
                <h2>@game.Name</h2>
                <p>@game.Description</p>
                <p>$@game.Price</p>
                <p>@game.Views</p>
                <label>on @game.DateOfPublication</label>
                <b><a class="nav-link text-dark" href="Game/@game.Id">@game.Id</a></b>
                <button class="btn btn-danger" onclick="deleteGame(@game.Id)">delete</button>
            </div>
    }
    
}

<script>
    async function deleteGame(productId) {
        try {
            const response = await fetch(`http://localhost:5155/DeleteGame/${productId}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                document.getElementById('row').remove();
            } else {
                console.error(response);
            }
        } catch (error) {
            console.error("Request failed", error);
        }
}
</script>